<div class="feedback-page-box">
    <div class="feedback-page-header">
        <h1>FAQ List</h1>
        <ul>
            <li>
                <button class="create-feedback">CREATE FAQ</button>
            </li>
            </ul>
            </div>
    <!-- <form action="#"> -->
        <div class="feedback-page-options">
            <div class="custom">
                <label>Show:</label>
                <select id="showfeedback">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="75">75</option>
                    <option value="100">100</option>
                </select>
            </div><div>
                <ul>
                    <li>
                        <input type="search" placeholder="Search">
                    </li>
                </ul>
                    </div> 
                   </div>
    <!-- </form> -->
    <div class="feedback-page-list">
        <table class="feedback-page-list-table">
            <tr>
                <th>Sno</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Tags</th>
                <th>Action</th>
             </tr>    
             <tr class="feedback-list" *ngFor="let item of list; let i = index" [ngClass]="{'even-row':i%2==0, 'odd-row':i%2!=0}">
                <td>{{i+1}}</td>
                <td>{{item.question}}</td>
                <td>{{item.answer}}</td>
                <td>{{item.tags}}</td>
                <td>{{item.action}}</td>
             </tr>  
        </table>
    </div>
    <div class="pagination">
        <label> << Previous</label>
        <label> 1 </label>
        <label> Next >></label>
    </div>
</div>