.footer{
    /* margin-left: 1%; */
    background-color:rgb(68, 127, 235);
    /* position: absolute; */
    bottom: 0;
    height:5vh;
    color: #fff;
    text-align: center;
    /* align-items: center; */
}
.footer label{
    /* justify-content: center; */
    /* padding:30px; */
    font-style: italic;
    
}