.footer{
    margin-left: 360px;
    background-color:rgb(68, 127, 235);
    /* position: fixed; */
    height:84px;
    color: #fff;
    text-align: center;
    /* align-items: center; */
}
.footer label{
    /* justify-content: center; */
    padding:30px;
    font-style: italic;
    
}