.coupon-page-box {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 380px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 5px;
    height: 80vh;
    box-shadow: 0 2px 9px rgba(51, 51, 51, .18823529411764706);
    padding: 0;
}

.select-coupon {
    font-size: 25px;
    margin: 10px;
}

.select-coupon .select-coupon-list{
    margin-left: 20px;
}


.coupon-options {
    justify-content: space-between;
    font-size: 20px;
    display: flex;
    margin: 20px;
    margin-bottom:10px;
}

.coupon-options .custom select {
    margin-left: 15px;
    height: 40px;
    color: rgb(86, 86, 86);
    border-color: rgb(86, 86, 86);
    border-radius: 3px;
}

input {
    height: 40px;
    border-style: inset;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(86, 86, 86)
}

ul {
    list-style: none;
}

.coupon-list-table {
    width: 100%;
    text-align: center;
}

.coupon-list {
    border-radius: 5px;
}

th {
    background-color: #4285f4;
    color: #fff;
    padding: 8px;
    height: 40px;
}

i{
    margin-left: 10px;
}

td {
    height: 55px;
    font-size: 19px;
}

.even-row {
    background-color: rgb(244, 244, 244);
}

.coupon-list {
    overflow: auto;
    height: 70%;
    margin-left: 40px;
    margin-right: 40px;
}

.pagination label{
    /* width:100%; */
    margin: 15px;
    /* text-align: center; */
    cursor: pointer;
    /* margin-bottom: 0; */
}

.pagination{
    /* border: 1px solid black; */
    justify-content:center;
    /* display:flex; */
}