.create-coupon-box{
    margin: 10px;
    margin-left: 380px;
    margin-right: 20px;
    border-radius: 10px;
    /* padding: 1%; */
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column;
    box-shadow: 0 2px 9px rgba(51, 51, 51, .18823529411764706);
    background-color: #fff;
}

.create-coupon-header{
    display: flex;
    justify-content: center;
    background-color: #5e97f2;
    border-radius: 10px;
    color: #fff;
}

.create-coupon-body{
    border: 3px solid #5e97f2;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    width:50%;
}

.element-style{
    margin-bottom: 2%;
}

.element-style .user-input{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    font-size: 100%;
    border:1px solid black;
}

.element-style label{
    font-weight: 500;
    font-size: 130%;
}
.set-values{

    /* border: 1px solid black;  */
    /* width: 50%;  */
    display: flex;
    justify-content: center; 
}

.heading{
    /* border: 1px solid black;  */
    text-align: center;
    /* flex-flow:column;  */
    font-size: 250%;
}

.optional-values .common-params{
    margin: 2%;
}

.common-params .user-input{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    font-size: 100%;
    border:1px solid black;
}

.common-params .user-input1{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    font-size: 100%;
    border:1px solid black;
}
h3{
    cursor: pointer;
}
/* thead{
    margin: 0;
    padding: 0;
    text-align: center;
    border: 1px solid black;
    background-color: #5e97f2;
    color: #fff;
    
} */



/* .fieldset{
    display: block;
    margin-left: 2px;
    border-radius: 10px;
    margin-right: 2px;
    padding: 0.35em 0.75em 0.625em;
    border: 2px groove;
}

fieldset{
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

legend{
    width: 20%;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
} */

/* fieldset{
    border: 1px solid black;
    margin: 10px;
} */