<div class="create-coupon-box">
    <div class="create-coupon-header">
        <h1>Create Coupon</h1>
    </div>
    <form>
    <div style="display:flex; justify-content: center;">
        <div class="create-coupon-body">
            <div class="set-values">
                <label class="heading">Mendatory Fields</label>
            </div>
            <div style=" margin: 2%">
                <div class="element-style">
                    <label style="font-weight: 500; font-size: 130%;">Discount Type:<span style="color: red;">*</span></label>
                    <div>
                        <select class="user-input">
                            <option>--SELECT--</option>
                            <option>Full Discount</option>
                            <option>Seperate Discount</option>
                        </select>
                    </div>
                </div>
                <div class="element-style">
                    <label>Discount:<span style="color: red;">*</span></label>
                    <div>
                        <input class="user-input" type="number" placeholder="Enter Discount Value">
                    </div>
                </div>
                <div class="element-style">
                    <label>Number Of Uses:<span style="color: red;">*</span></label>
                    <div>
                        <input class="user-input" type="number">
                    </div>
                </div>
            </div>
            <div style="text-align: center; user-select: none;">
                <i (click)="isHidden()" [class]="flag?'fa-solid fa-chevron-up':'fa-solid fa-chevron-down'" style="font-size: x-large; margin-right: 1%; cursor: pointer;"></i>
                <label (click)="isHidden()" style="font-size: xx-large;cursor: pointer;">Optional Fields</label>
            </div>
            <div class="optional-values" [hidden]="flag">
                <div class="common-params">
                    <label>Coupon Code:</label>
                    <div>
                        <input class="user-input" type="text">
                    </div>
                </div>
                <div class="common-params">
                    <label>Description:</label>
                    <div id = edit>
                    </div>
                </div>
                <div class="common-params" style="display: flex; justify-content: space-between;">
                    <div style="width: 50%;">
                        <label>Start Date:</label>
                        <div>
                            <input class="user-input1" type="date">
                        </div>
                    </div>
                    <div style="width: 50%; margin-left: 3%;">
                        <label>End Date:</label>
                        <div>
                            <input class="user-input1" type="date">
                        </div>
                    </div>
                </div>
                <div class="common-params">
                    <label style="font-weight: 500; font-size: 130%;">Marathon:</label>
                    <div>
                        <select class="user-input">
                            <option>--SELECT--</option>
                            <option>Marathon 1</option>
                            <option>Marathon 2</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="functional-button">
                <button type="reset" class="control-button">Reset</button>
                <button class="control-button">Submit</button>
            </div>
        </div>

        
        
    </div>
</form>
</div>
<app-coupons />


<!-- <div id = edit class="try">
</div> -->
<!-- <div class="try"></div> -->